# Dependencies
node_modules
**/node_modules/
.pnpm-store/
.tools/
_bad_scm/
out/
**/dist
**/.turbo
config/tsup.config.bundled*
config/tsup.frameworks.config.bundled*
.next
.cursor
.DS_Store
.gcs_entries
.gclient*
.cipd
.idea
publish-summary.json
**/.svelte-kit
**/*/*.tgz
